* {
  box-sizing: border-box;
}

body {
  background-image: url("dirty-pattern-paint-room-block.jpg")
  ;
  background-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  flex-direction: column;
  display: flex;
  justify-content: center;

  width: 70%;
	margin: 100px auto;
	padding: 1em;
	flex-flow: row nowrap;
  background-color: beige;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 3px solid  #9C6069;
  border-radius: 10px;
  
}


.title-font{
  font-family:'Permanent Marker', cursive;
  font-size: 1.8rem;
  text-align: center;
}
.sub-font{
  font-family:'Lato', sans-serif;
  text-align: center;
}


nav{
  position: fixed;
  padding: 0;
  width: 100%;
  top:0;
}

nav ul {
  list-style-type: none;
  text-align: left;
  display: flex;
  top: 0;
  width: 100%;
  font-size: 18px;
  margin: 0;
  padding: 8px;
  text-decoration: none;
  background-color: #9C6069;
  border-bottom: 5px solid #E88493;

  
}
nav li{
  
 flex-basis: 8%;
 /* width: 10%;*/
  text-align: left;
  padding: 2px;
}


nav a {
  
  font-family: 'Permanent Marker', cursive;
  font-size: 1.2rem;
  color:white;
  border-radius: 10rem;
  border: 5px solid #9C6069;
  display: block;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

nav a:hover {
  background-color: #9C6069;
  color: white;
  border: 0;
  box-shadow: 0 8px 10px 0 rgba(228, 223, 223, 0.938), 0 6px 10px 0 rgba(248, 240, 240, 0.89);
}

nav a:active{
  transform: translateY(4px);
}

fieldset{
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 30px;
  margin-right: 5px;
  
}

legend{
  font-size: 2rem;
  font-family: 'permanent marker', cursive;
  
  padding-left: 30px;
  padding-right: 20px;
  margin-left: 2px;
}



.buttonform{ /*botao submit do formulario*/
  align-items: left;
  font-size: 18px;
  position: relative;
  top: 0;
  background-color:  #9C6069;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  border: 2px solid black;
  margin-left: 20px;
  cursor:pointer;
 
}

.buttonform:disabled{ /*botao submit do formulario*/
  background-color: grey;
  cursor: not-allowed
}

.button { /*botao prev e next*/
  align-items: center;
  justify-content: center;
  display: flex; 
}

.btn{ /*botao prev e next*/
  font-size: 18px;
  color:black;
  
  background-color: #9C6069;
  /*border: none;*/
  border-radius: 3px;
  border: 2px solid black;
  cursor: pointer;
  display: inline-block;
  margin-top: 50px;
  margin-left:10px;
  margin-right: 10px;
  margin-bottom: 30px;
  padding: 8px;
  text-align: center;
  width: 120px;
  box-shadow: 0 8px 10px 0 grey, 0 6px 10px 0 grey;

}

.btn:active { /*botao prev e next*/
  background-color: #a55864;
  transform: translateY(4px);
  
}

.btn:disabled{ /*botao prev e next*/
  background-color: grey;
  cursor: not-allowed
}

.active{
display: block;
}


a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
 
}

h1{
  margin-top:30px;
  margin-left: 10px;
  font-family: "Permanent Marker", cursive;
  font-size: 1.9rem;
  font-weight: normal;
}



.profile-image {
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 32px;
  height: 180px;
  margin: 50px;
  width: 180px;
}

.card {
  align-items: center;
  background-image: linear-gradient(to bottom right, white, lightgray);
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  padding: 50px;
  opacity: 1;
  
}

.margintop{
  margin-top: 100px;
  text-align: center;
}


.social-media-ul{
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 10px;
}

.social-media-ul li{
  display: inline-block;
 
}


.fab {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  display: inline-block;
  margin: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.fab:hover {
  opacity: 0.7;
  
}

.fa-home{
  float:left;
  margin-right: 3px;
  margin-bottom: 0;
}

.fa-linkedin-in {
  background: #3B5998;
  color: white;
  
}

.fa-github {
  background: #55ACEE;
  color: white;
}

.fa-stack-overflow{
  background: #55ACEE;
  color: white;
}

section {
	flex-basis: 80%;
  
}
aside {
	flex-basis: 33%;
	
  margin-top: 10px;
}

form{
  font-weight: normal;
  margin-left: 5px;
}

input:not([type='radio']),textarea{
 
  margin-bottom: 2rem;
  width:15rem;
  padding: 0 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  
}

textarea{
  padding:20px;
  display:block;
}

.hidden {display: none}


.text{
  justify-content: center;
  margin: 6px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #9C6069;
  color: white;
}

.linksfoot li{
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
}

.linksfoot a:hover {
  background-color: beige;
  color: black;
  border-radius: 5px;
 
}


  












